.explored {
    color: #b3b3b3;
    background-color: black;
    font-weight:bold;
}

.normal {
    color: white;
    background-color: black;
    font-weight:bold;
}

.cursor {
    color: white;
    background-color: blue;
    font-weight:bold;
}

/*https://stackoverflow.com/questions/2941189/how-to-overlay-one-div-over-another-div */

/*
*  position: relative gives a new position context
*/

#output {
    position: relative;
}

/*
*  Position the keypad element using the top-left
*  of the wrapper element
*/

.keypad {
    position: absolute;
    top: 2px;
    left: 2px;
}
.keypad_btn {
    background-color: transparent;
    color: #42D6CA;
}


/* Styling for modal */

.modal {
  position: fixed; /* Stay in place */
  z-index: 99; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    /*margin: 15% auto; */ /* 15% from the top and centered */
    /*padding: 20px; */
    border: 1px solid cyan;
    width: 380px;
    position: relative; /* To make top and left work */
    top: 30px;
    left: 5px;
  }