<html>

  <head>

    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static', filename='main.css') }}">
    <title>My Flask project!</title>

  </head>

  <body>

  <script  src="{{url_for('static', filename='jquery-3.3.1.js') }}" ></script>
  <script  src="{{url_for('static', filename='keypad.js') }}"></script>
  <div id="output">
  <p>Position: x {{position.x }}  y {{ position.y }}</p>
  <table>
    <tbody>
      <tr>
        <td>
  <!-- simple HTML console-->
  <div id="console" style="font-family: monospace;">
    <!-- For loop logic of jinja template -->
        <!-- 18 px for Consolas-->
    <!--https://stackoverflow.com/questions/45719062/jinja-docx-template-avoiding-new-line-in-nested-for-->
  {%for y in range(0, 20)%} 
  <div style="height:18px;">
  {%for x in range(0, 20)%}<span class="{{style(x,y)}}" style="background-color: black;">{{console[x][y]|safe}}</span>{%endfor%}
  </div>
  {%endfor%} 
  </div>
        </td>
        <td style="vertical-align: top;">
          <div> HP: 20/20 </div>
          <div style="background-color: red; width: 100px; height: 20px;"></div>
        </td>
      </tr>
    </tbody>
  </table>

  </div>

  <div id="keypad" class="keypad">

      <table id="main">

      <tbody>

      <tr>

        <!-- button tag can be buggy so we use input type=button -->

        <!-- using hex values for Unicode characters -->

        <td><input id="go_nw" type="button" value="&#9700" > </td>

        <!-- for consistency -->

        <td><input id="go_n" type="button" value="&#9650"> </td>

        <td><input id="go_ne" type="button" value="&#9701" > </td>

        </tr>

        <tr>

        <td><input id="go_w" type="button" value= "&#9664"> </td>

        <!-- midline ellipsis -->

        <td><input id="go_wait" type="button" value= "&#8943"> </td>

        <td><input id="go_e" type="button" value= "&#9654"> </td>

        </tr>

        <tr>

        <td><input id="go_sw" type="button" value= "&#9699"> </td>

        <!-- for consistency -->

        <td><input id="go_s" type="button" value= "&#9660"> </td>

        <td><input id="go_se" type="button" value="&#9698"> </td>

      </tr>

      </tbody>

      </table>
      </body>
</html>
